body {
    margin: 0 ;
    background-color: #f4f4f4;
    color: #333333;
}
a {
    color: #000;
}
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: block;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
}
.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}
.header .logo {
    display: flex;
    flex-wrap: nowrap;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
.logo-img {
    float: left;
    padding: 0;
    position: relative;
    width: 50px;
    height:51px;
}
.logo-div{
    color: black;
    padding: 1rem;
    font-size: 15px;
    white-space: nowrap;
}
.search{
    background: white;
    display: block;
    padding: 4px;
    position: relative;
    width: 100%;
    box-shadow: none;
    border: none;
    text-indent: 33px;
    border-radius: 10px
}
label{
    display: unset!important;
}
.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}
.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}
/* menu */

.header .menu {
    clear: both;
    transition: max-height .2s ease-out;
}


.dropdown-content {
    display: none;
    background-color: lightskyblue;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-left: 0;
    z-index: 1;
}
.dropdown-content li{
    list-style-type: none;
    width: 100%;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: blue;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
/* menu icon */

.header .menu-icon {
    padding: 2.25rem 1.75rem;
    background-color: transparent;
    border: 1px
    solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
    cursor: pointer;
    float: right;
    position: relative;

}

.header .menu-icon .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


main{
    width: auto;
    padding: 10px;
}
aside{
    width: auto;
    padding: 10px;
}

.category-header{
    background-color: #fff;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}
.category-header h2{
    font-weight: bold;
}
.aside-card{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}
.aside-card h3{
    margin: 0;
    padding-bottom: 10px;
}

/*Articles*/
.articles{
    display: flex;
    flex-wrap: wrap;
}
.articles > .article-card{
    margin: 10px;
    width: 100%;
    min-width: 200px;
}

.article-card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.08);
}
.article-card>div:first-child{
    position: relative;
}
.article-card>div:first-child img{
    max-width: 100%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 200px;
}
.article-card>div:first-child .article-title{
    background-color: rgba(8,35,50,.75);
    position: absolute;
    bottom: 0;
    padding: 0 12px;
    text-shadow: 0 0 6px rgba(0,0,0,0.3);
    color: white;
}
.article-desc{
    display: flex;
    flex-direction: column;
}
.article-card .article-desc{
    padding: 10px;
}

section.cta{
    margin: 60px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cta .card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: grey;
    padding: 20px 50px;
    text-align: center;
}
footer a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.footer-logo{
    width: 200px;
}
.aside-card-title__special{
    padding: 0 12px;
    color: black;
}

@media only screen and (min-width: 769px) {
    .layout{
        display: grid;
        grid-template-columns: repeat(10,10%);
        grid-template-rows: repeat(4,50px auto)

    }
    .header li {
        float: left;
    }
    .articles{
        grid-column:1/8 ;
    }
    .articles__categories{
        justify-content: space-around;
    }
    .category-header-1{
        grid-row: 1/2;
    }
    .category-header-2{
        grid-row: 3/4;
    }
    .category-header-3{
        grid-row: 5/6;
    }
    .category-header-4{
        grid-row: 7/8;
    }
    .article-1,.aside-1{
        grid-row: 2/3;
    }
    .article-2,.aside-2{
        grid-row: 4/5;
    }
    .article-3,.aside-3{
        grid-row: 6/7;
    }
    .article-4,.aside-4{
        grid-row: 8/9;
    }

    .category-header{
        margin-bottom: 0;
        grid-column: 1/11;
    }
    .header li a {
        padding: 20px 10px;
    }
    .collapse:not(show)
    {
        display: unset !important;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        height: 100%;
    }
    .header .menu-icon {
        display: none;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .main-section{
        flex-direction: row;
    }

    aside{
        padding: 10px;
        grid-column: 8/11;
        width: 100%;
    }

    .aside-card{
        grid-column: 2/3;
    }
    .articles > .article-card{
        margin: 10px;
        width: 47.1%;
        max-width: 424px;
        grid-column: 1;
    }
    .articles > .article-card__categories{
        width: calc(25% - 20px) !important;
        min-width: 200px;
        grid-column: 1;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .offcanvas-header{
        display: none !important;
    }
    .offcanvas-start{
        visibility: visible !important;
        transform: none !important;
        width: 100% !important;
    }
    .offcanvas{
        visibility: visible !important;
        position: unset !important;
    }
    .col-md-6{
        width: 100%!important;
        max-width: unset!important;
    }
    .dropdown-content{
        position: fixed;
    }
}
h1{
    color: white;
    text-align: center;
    line-height: 240px;
    font-family: 'Viga', sans-serif;
    font-size: 5vw;
    height: 15rem;
}
.h1-background{
    background-image: url("https://www.i-com.it/wp-content/uploads/2017/11/mediterranean_gateway.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(8,35,50,1);
}
.transbox{
    margin: auto;
    padding-top: 80px;
    width:40%;
    background-color: #ffffff;
    border: 1px solid black;
    background-color: rgba(8,35,50,.75);
}

.section__articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section:after {
    content: "";
    display: table;
    clear: both;
}
.tags li  {
    display: inline;
    font-weight: bold;
    color: gray;
}
.author, .date {
    margin:7px  0 0 0;
    padding: 0;
    float: left;
}
.tags{
    padding: 0;
    float: left;
}
p {
    float: left;
    font-style: italic;
}
.tags li :after{content:"," }
.author:before{
    content:"Published by: " }
.date:before{
    content:"on " }

.tags a{text-decoration: none}
.author{
    font-weight: bold;
    color: #005587;
    text-decoration: underline;
}
.date{
    font-family: Garamond, monospace;
}
.special_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
    font-style: normal;
}
@media screen and (min-width:769px) {
    .aside-special__width {
        width: 35%;
    }
}
aside article {
    width: 90%;
    margin: 0 auto;
}
aside h3{
    margin: 30px auto 0;
}
.aside_article{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width:769px) {
    .special_article {
        width: 68%;
    }
    .article-card__special{
        width: 60% !important;
        max-width: unset!important;
        float: unset !important;
        padding:0
    }
}
.special_article .author{
    display: block !important;
    position: relative !important;
    float: unset !important;
    margin: 0 !important;
    padding: 0 !important;
}
.special_article p{float: unset!important;}
.special_article img{
    float: unset!important;
    display: block !important;
    margin: 0 !important;
    text-align: justify !important;
}
.league {
    border-collapse: collapse;
    margin:15px 0 0 0;
    padding: 0;
    width: max-content;
}
@media screen and (min-width:768px) {
    .league {
        width: 100%;
    }
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th {
    color: white;
    background-color: gray ;
    text-align: left;
}
.league tr:nth-child(odd){
    background-color: lightgray;
}
.footer {
    padding: 0;
}
.footer p{
    float: unset!important;
    text-align: center;
}
.czu{
    width: 50% !important;
    height: 20% !important;

}
.footer img{
    display: block;
    width: 20%;
    height:20%;
    margin: 0 auto 0 auto;
}
.scrollable{
    width: 100%;
    overflow: scroll;
}
@media screen and (min-width:768px) {
    .scrollable {
        overflow: hidden;
    }
}
