body {
    margin: 0 ;
    background-color: #f4f4f4;
    color: #333333;
}
a {
    color: #000;
}
.nav {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: block;
    top: 0;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.nav li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
.nav li a:hover,
.nav .menu-btn:hover {
    background-color: #f4f4f4;
}
.logo {
    display: flex;
    flex-wrap: nowrap;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
.logo--img {
    float: left;
    padding: 0;
    position: relative;
    width: 50px;
    height:51px;
}
.logo--div{
    color: black;
    padding: 1rem;
    font-size: 15px;
    white-space: nowrap;
}

.form {
    position: relative
}
.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}
.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}
.form-input {
    height: 55px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #f2f6f7;
    background-clip: padding-box;
    outline-color: #0172f0;
    width: 100%;
}
.label--search__inputbox{
    width: 100%;
}

.nav .menu {
    clear: both;
    padding-top: 10px;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav .menu-icon .navicon:before {
    top: 5px;
}

.nav .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.nav .menu-btn {
    display: none;
}

.nav .menu-btn:checked ~ .menu {
    max-height: fit-content;
}
.dropdown-content {
    display: none;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-left: 0;
    z-index: 1;
}
.dropdown-content li{
    list-style-type: none;
    width: 100%;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: blue;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.nav .menu-icon {
    padding: 1.25rem 1.75rem;
    background-color: transparent;
    cursor: pointer;
    float: right;
    position: relative;
    margin-top: 12px;
}
.nav .menu-icon .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.nav .menu-icon .navicon:before {
    top: 5px;
}
.nav .menu-icon .navicon:after {
    top: -5px;
}
main{
    width: auto;
    padding: 10px;
}
aside{
    width: auto;
    padding: 10px;
}

.category-header{
    background-color: #fff;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}
.category-header h2{
    line-height: 0;
}
.category-nav h2{
    font-weight: bold;
}
.aside-card{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}
.aside-card h3{
    margin: 0;
    padding-bottom: 10px;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.articles > .article-card{
    margin: 10px;
    width: 100%;
    min-width: 200px;
}
.article-card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.08);
}
.article-card>div:first-child, .special--div{
    position: relative;
}
.article-card>div:first-child img, .special--div__img{
    max-width: 100%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.article-card>div:first-child .article-title , .special--div__h3{
    background-color: rgba(8,35,50,.75);
    position: absolute;
    bottom: 0;
    padding: 0 12px;
    text-shadow: 0 0 6px rgba(0,0,0,0.3);
    color: white;
}
.article-desc{
    display: flex;
    flex-direction: column;
}
.article-card .article-desc{
    padding: 10px;
}

section.cta{
    margin: 60px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cta .card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: grey;
    padding: 20px 50px;
    text-align: center;
}
footer a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.footer-logo{
    width: 200px;
}
.aside-card-title__special{
    padding: 0 12px;
    color: black;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Viga', sans-serif;
    font-size:calc(30px + 5vw);
    margin-top: 3%;
    position: relative;
    top: 50%;
    background-color: rgba(8,35,50,.75);
}
.h1-background{
    background-image: url("https://www.i-com.it/wp-content/uploads/2017/11/mediterranean_gateway.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3% 0;
    min-height: 300px;
    max-height: 500px;
}
.transbox{
    margin-top: 9rem;
}

.section__articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tags li  {
    display: inline;
    font-weight: bold;
    color: gray;
}
.author, .date {
    margin:7px  0 0 0;
    padding: 0;
    float: left;
}
.tags{
    padding: 0;
    float: left;
}

.tags li :after{content:"," }
.author:before{
    content:"Published by: " }
.date:before{
    content:"on " }

.tags a{text-decoration: none}
.author{
    font-weight: bold;
    color: #005587;
    text-decoration: underline;
}
.date{
    font-family: Garamond, monospace;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
    font-style: normal;
}
aside article {
    width: 90%;
    margin: 0 auto;
}
aside h3{
    margin: 30px auto 0;
}
.aside_article{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.league {
    border-collapse: collapse;
    margin:15px 0 0 0;
    padding: 0;
    min-width: 700px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th {
    color: white;
    background-color: gray ;
    text-align: left;
}
.league tr:nth-child(odd){
    background-color: lightgray;
}
.footer {
    padding: 0;
}
.footer p{
    float: unset!important;
    text-align: center;
}
.czu{
    width: 50% !important;
    height: 20% !important;

}
.footer img{
    display: block;
    width: 20%;
    height:20%;
    margin: 0 auto 0 auto;
}
.scrollable{
    width: 100%;
    overflow: scroll;
}
.mobile-only{
    display: block;
}
.desktop-only{
    display: none;
}
.search-header{
    padding: 0 30px;
}
.search-header__title::marker {
    color: blue!important;
}
.search-header__title {
    display: list-item;
    list-style-position: inside;
}
.search-header__results{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.search-header__results label{
    width: 100%;
}
.search-articles{
    display: flex;
    flex-flow: column!important;
}
.search-articles > .article-card{
    margin: 10px;
    width: 100%;
    min-width: 200px;
}
.editor--header-img{
    margin-top: 100px;
    background-image: url(https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2014/12/23/1419353543947/Russia-Today-010.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=df51be6f50dc245a41412469e69374ed);
    width: 100%;
    max-height: 388px;
    height: 400px;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}
.editor--header-img__opicity{
    background-color: rgba(8,35,50,.75);
    margin: auto;
    height: 100%;
}
.editor--header-img__opicity h1{
    background: transparent;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-form{
    position: relative;
    bottom: 100px;
    background-color: #fff;
    box-shadow:1px 1px 6px 0 rgb(0 0 0 / 8%);
    width: 100%;
    margin: 0 auto -65px auto;
}
.contact-form label{
    display: block!important;
    margin-bottom: 0;
}
.editor--contact__select>label:first-child{
    padding-bottom: 10px;
}
.contact-form--contents{
    padding: 20px;
}
.contact-form__name-input input{
    width: 98%;
}
.contact-form__name-input>label:first-child{
    padding-bottom: 20px;
}
.contact-form--contents>div{
    padding-bottom: 20px;
}
.contact-form--contents input
{
    border-radius: 10px;
    height: 55px;
    color: #212529;
    background-color: #f2f6f7;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: #0172f0;
    padding-left: 10px;
}
.contact-form--contents__email-input{
    width: 98%;
}
.form-select{
    background-color: #f2f6f7;
    height: 55px;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #ced4da;
    outline-color: #0172f0;
}
.form-text-area{
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    color: #212529;
    background-color: #f2f6f7;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline-color: #0172f0;
    width: 98%;
    resize: none;
    height: 150px;
}
.form-button{
    border-radius: 10px;
    padding: 0.375rem 0.75rem;
    color: #ffffff;
    background-color: #0172f0;
    border: 1px solid #ced4da;
    resize: none;
    right: 4rem;
}

.address-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    box-shadow:1px 1px 6px 0 rgb(0 0 0 / 8%);
    width: 100%;
    margin: 1.5rem auto 3rem;
}
.address-form__address{
    margin: auto;
    padding: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.address-form>div{
    width: 50%;
}
.address-form__address p{
    white-space: nowrap;
    font-family: 'Viga', sans-serif;
}
.address-section--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
}
.label-search{
    width: 100%;
    padding-left: 20px;
    display: flex;
}
.search-button{
    position: relative;
    height: 55px;
}
@media only screen and (min-width: 769px) {
    .layout{
        display: grid;
        grid-template-columns: repeat(10,10%);
        grid-template-rows: repeat(4,50px auto)
    }
    .label-search{
        width: 270px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .label--search__button{
        margin-right: -60px;
    }
    .search-header__results>.label-search{
        width: 80%;
    }
    .label-search>.label--search__button{
        width: 0;
        margin: 0 30px 0;
    }
    .nav li {
        float: left;
    }
    .articles{
        grid-column:1/8 ;
    }
    .articles__categories{
        justify-content: space-around;
    }
    .category-header-1{
        grid-row: 1/2;
    }
    .category-header-2{
        grid-row: 3/4;
    }
    .category-header-3{
        grid-row: 5/6;
    }
    .category-header-4{
        grid-row: 7/8;
    }
    .article-1,.aside-1{
        grid-row: 2/3;
    }
    .article-2,.aside-2{
        grid-row: 4/5;
    }
    .article-3,.aside-3{
        grid-row: 6/7;
    }
    .article-4,.aside-4{
        grid-row: 8/9;
    }
    .category-header{
        margin-bottom: 0;
        grid-column: 1/11;
    }
    .nav li a {
        padding: 20px 10px;
    }
    .nav .menu {
        clear: none;
        float: right;
        max-height: none;
        height: 100%;
    }
    .nav .menu-icon {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    aside{
        padding: 10px;
        grid-column: 8/11;
        width: 100%;
    }

    .aside-card{
        grid-column: 2/3;
    }
    .articles > .article-card{
        margin: 10px;
        width: 47.1%;
        max-width: 424px;
        grid-column: 1;
    }
    .articles > .article-card__categories{
        width: calc(25% - 20px) !important;
        min-width: 200px;
        grid-column: 1;
    }
    .contact-form--contents__email-input{
        width: 96%;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .offcanvas-header{
        display: none !important;
    }
    .offcanvas-start{
        visibility: visible !important;
        transform: none !important;
        width: 100% !important;
    }
    .offcanvas{
        visibility: visible !important;
        position: unset !important;
    }
    .col-md-6{
        width: 100%!important;
        max-width: unset!important;
    }
    .dropdown-content{
        position: fixed;
    }
    .scrollable {
        overflow: hidden;
    }
    .league {
        width: 100%;
    }
    .aside-special__width {
        width: 35%;
        min-width: 300px;
    }
    .article-card__special{
        width: 100% !important;
        max-width: unset!important;
        float: unset !important;
        padding:3rem;
        display: flex;
    }
    .article-card__special>div:first-child{
        width: 60%;
    }
    .search-header__results{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .search-header__results label{
        width: 50%;
    }
    .search-articles > .article-card{
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .search-articles > .article-card>div:first-child{
        position: relative;
        width: 30%;
        min-width: 300px;
    }
    .contact-form__name-input>label:first-child{
        padding-bottom: 0;
    }
    .article-card>div:first-child img, .special--div__img {
        max-width: 100%;
        border-radius: 6px 6px 0 0;
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
    }
    .mobile-only{
        display: none;
    }
    .desktop-only{
        display: block;
    }
    .contact-form__name-input{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact-form__name-input input{
        width: 92%;
    }
    .contact-form__name-input label{
        width: 49%;
    }
    .address-form{
        flex-direction: row;
    }
    .contact-form,.address-form{
        width: 50%;
    }
    .address-form__address{
        margin: unset;
    }
    .form-text-area{
        width: 96%;
    }
    .full-article-detail {
        padding-top: 16px;
        padding-left: 16px;
    }
    .article-detail-text img{
        width: 250px !important;
        margin: 0 30px!important;
    }
    .article-img__left{
        float: left;
    }
    .article-img__right{
        float: right;
    }
}
.article__header-img img{
    width: 100%;
    margin: auto;
}
.article__header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.comment-margin{
    margin-top: 50px;
}
.comment-margin div{
    margin-top: 20px;
}
.comment-background-color{
    background-color: #f2f6f7!important;
}
.article-detail-text img{
    width: 100%;
    margin: 30px auto;
}
.article-detail-text{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0 rgb(0 0 0 / 8%);
    padding: 20px 40px 40px;
}
.article-detail-text label{
    display: unset!important;
}
.img-captcha{
    font-size: x-small;
}
.article__header-author>div{
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: small;
}
.article-page--header{
    margin-top: 40px;
}
.article-detail-text__paragraph{
    display: inline;
}
.article-img__captcha{
    display: flex;
    flex-direction: row;
}